<% @best_users.each do |user| %>
	<%= link_to posts_by_user_path(slug: user.slug ), class:"user", method: :get do %>
		<div class="user-avatar">
			<% if user.avatar.blank? %>
				<img src="<%= set_random_avatar(user.id) %>">
			<% else %>
				<img src="<%= user.avatar.url(:thumb) %>">
			<% end %>
		</div>
		<div class="user-infos">
			<span class="user-name"><%= user.name %></span>
			<div class="user-palmares">
				<div class="user-likes">
					<p><%= user.vote_count %></p>
					<img src='/assets/images/icons/like_inactive.svg' alt="">
				</div>
				<div class="user-posts">
					<p><%= user.posts.count %></p>
					<i class="fa fa-file-text-o"></i>
				</div>
			</div>
		</div>
	<% end %>
<% end %>