<% @comments.each do |comment| %>
	<div class="comment">
		<% if comment.user %>
			<% if comment.user.avatar.blank? %>
				<%= image_tag set_random_avatar(comment.user.id), class:"comments-avatar" %>
			<% else %>
				<%= image_tag comment.user.avatar, class:"comments-avatar" %>
			<% end %>
		<% end %>
		<div class="comment-content">
		<% if comment.user %>
			<span class="comment-datas"><strong><%= comment.user.name %></strong><i> | <%= distance_of_time_in_words_to_now(comment.created_at) %> ago</i></span>
		<% else %>
		<span class="comment-datas"><strong>RIP - User deleted</strong><i> | <%= distance_of_time_in_words_to_now(comment.created_at) %> ago</i></span>

		<% end %>
			<p class="comment-text">
				<%= comment.message %>
			</p>
		</div>
		

		<% if current_user && current_user.id == comment.user_id %>
			<div class="comment-userActions">
				<%= link_to edit_post_comment_path(comment.post, comment) do %>
					<img src='/assets/images/icons/pencil.svg' alt="">
				<% end %>
				<%= link_to [comment.post, comment], method: :delete do %>
					<img src='/assets/images/icons/trash.svg' alt="">
				<% end %>
			</div>
		<% end %>
	</div>
<% end %>