<% @comments.each do |comment| %>
	<div class="comment">
		<p class="comment__datas"><strong><%= @post.user.name %></strong> commented on <i><%= comment.created_at %></i></p>
		
		<div class="comment__content">
			<%= comment.message %>
		</div>

		<% if current_user && current_user.id == comment.user_id %>
			<div class="comment__user-actions">
				<%= link_to "Delete comment", [comment.post, comment], method: :delete %>
				<%= link_to "Edit comment", edit_post_comment_path(comment.post, comment) %>
			</div>
		<% end %>
	</div>
<% end %>