<% @posts.each do |post| %>
	<div>Published : <%= post.published %></div>
	<div>Title : <%= post.title %></div>
	<div>Content : <%= post.content %></div>
	<div>url : <%= post.url %></div>
	<div>vote : <%= post.vote  %></div>
	<div>author : <%
		if post.user
			concat post.user.name
		else
			concat "user deleted"
		end
	 %>
	 	
	</div>
	<div>category : <%= post.category.label %></div>
	<br>

	<%	if post.is_my_post? %>
		<%= link_to "Edit", users_posts_id_path(:id => post.id), method: :get  %> <br>
		
		<%	if post.published? %>
			<%= button_to 'Unpublish', posts_unpublished_path(id: post.id ), method: :post, :remote=>true %>
		<%	else %>
			<%= button_to 'Publish', posts_published_path(id: post.id ), method: :post, :remote=>true %>
		<%	end %>
	<% end %>

	<% if @connected %>
	  	<%= button_to "LIKE", posts_add_vote_path(id: post.id ), method: :post, :remote=>true %>
	<% end %>

	<br><br>
<% end %>



