<% if @posts.present? %>
	<% @posts.each do |post| %>
	<div class="post-single regular-post">
		
		<div class="post-single__avatar" style="background-image: url(<%= post.user.avatar %>)">
		</div>
		<div class="post-single__content">
			
			<div class="post-head-datas">
				<% if  post.category %>
					<span class="post-cat"><%= link_to post.category.label, category_path(:slug => post.category.slug), method: :get %></span>
				<% end %>
				<div class="post-author">
					<span class="user-name">
						<% if post.user.name %>
							<%= link_to post.user.name, posts_by_user_path(:slug => post.user.slug) %>
						<% else %>
							concat "user deleted"
						<% end %>
					</span>
					<span class="author-postDate"><%= distance_of_time_in_words_to_now(post.created_at) %> ago</span>
				</div>
				<%= link_to post.title, post_path(:id => post.id), method: :get, :class => "post-title"  %>

<!--  
				<%	if post.is_my_post? %>
					<%= link_to "Edit", users_posts_id_path(:id => post.id), method: :get  %> <br>
					
					<%	if post.published? %>
						<%= button_to 'Unpublish', posts_unpublished_path(id: post.id ), method: :post, :remote=>true %>
					<%	else %>
						<%= button_to 'Publish', posts_published_path(id: post.id ), method: :post, :remote=>true %>
					<%	end %>
				<% end %>

-->
				<%= render "shared/post_votes",  :post => post %>


			</div>

			<div class="post-content">
				<% if post.asset.present? %>
					<div class="post-thumbnail" style='background:url("<%= post.asset.url %>"); background-size:cover; background-position:center center;'></div>
				<% end %>
				<p class="post-description"><%= post.content %></p>
			</div>
		</div>
	</div>
	<% end %>
<% else %>
  <p>There are no posts.</p>
<% end %>



