<% if @posts.present? %>
	<% @posts.each do |post| %>
	<div class="post-single regular-post">

			<% if post.user.avatar.blank? %>
				<span class="post-single__avatar" style="background-image: url(<%= set_random_avatar(post.user.id) %>)"></span>
			<% else %>
				<span class="post-single__avatar" style="background-image: url(<%= post.user.avatar %>)">
				</span>
			<% end %>

			<div class="post-metadatas">
				<div class="post-link">
					<a href="<%= post.url %>" target="_blank" class="post-link">
						<img src="/assets/images/icons/link.svg" alt="">
						<span>Discover</span>
					</a>
				</div>

				<div class="post-votes">
					<%= render "shared/post_votes",  :post => post %>
				</div>
				
				<%	if post.is_my_post? && current_page?(users_posts_path) %>
					<div class="post-edit">
					
						<%= link_to users_posts_id_path(:id => post.id), method: :get do %>
							<img src="/assets/images/icons/pencil.svg" alt="">
							<span>Edit</span>
						<% end %>
					</div>
					
					<div class="post-published">
						<%	if post.published? %>
							<%= link_to posts_published_path(id: post.id ), method: :post, :remote=>true, link_publish: posts_unpublished_path(id: post.id), link_unpublish: posts_published_path(id: post.id) do %>
								<div class="publish-switch active">
									<div class="switch-background">
										<div class="switch-button"></div>
									</div>
								</div>
								<span>Unpublish</span>
							<% end %>
						<%	else %>
							<%= link_to posts_unpublished_path(id: post.id ), method: :post, :remote=>true, link_unpublish: posts_unpublished_path(id: post.id), link_publish: posts_published_path(id: post.id) do %>
								<div class="publish-switch">
									<div class="switch-background">
										<div class="switch-button"></div>
									</div>
								</div>
								<span>Publish</span>
							<% end %>
						<%	end %>
					</div>
				<% end %>
			</div>

		<div class="post-single__content">
			<div class="post-head-datas">
				<% if  post.category %>
					<span class="post-cat"><%= link_to post.category.label, category_path(:slug => post.category.slug), method: :get %></span>
				<% end %>
				<div class="post-author">
					<span class="user-name">
						<% if post.user.name %>
							<% if params[:slug] == post.user.slug %>
								<%= post.user.name %>
							<% else %>	
								<%= link_to post.user.name, posts_by_user_path(:slug => post.user.slug) %>
							<% end %>
						<% else %>
							user deleted
						<% end %>
					</span>
					<span class="author-postDate"><%= distance_of_time_in_words_to_now(post.created_at) %> ago</span>
				</div>
				<%= link_to post.title, post_path(:id => post.id), method: :get, :class => "post-title"  %>
			</div>

			<div class="post-content">
				<% if post.asset.present? %>
					<%= link_to post_path(:id => post.id), method: :get do %>
						<div class="post-thumbnail" style='background:url("<%= post.asset.url %>"); background-size:cover; background-position:center center;'></div>
					<% end %>
				<% end %>
				<p class="post-description"><%= post.content %></p>
			</div>
		</div>
	</div>
	<% end %>
<% else %>
  <p>There are no posts.</p>
<% end %>



