<span class="single-post-cat">Discover | <%= link_to @post.category.label, category_path(:slug => @post.category.slug), method: :get %></span>
<section class="post-single post-single-view">
	<div class="post-datas">
		<%= link_to posts_by_user_path(slug: @post.user.slug ), class:"post-author", method: :get do %>
			<%
				if @post.user %>
					<% if @post.user.avatar.blank? %>
						<img src="<%= set_random_avatar(@post.user.id) %>">
					<% else %>
						<img src="<%= @post.user.avatar.url(:thumb) %>">
					<% end %>
					<div class="author-data">
						<span class="user-name"><%= @post.user.name %></span>					
						<span class="user-postDate"><%= distance_of_time_in_words_to_now(@post.created_at) %> ago</span>
					</div>
				<% else %>
					<span>User doesn't exist</span>
				<% end %>
		<% end %>
		<div class="post-metadatas">
			<% if !@post.url.blank? %>
					<div class="post-link">
						<a href="<%= @post.url %>" target="_blank" class="post-link">
							<img src="/assets/images/icons/link.svg" alt="">
							<span>Discover</span>
						</a>
					</div>
			<% end %>
			<div class="post-comments">
				<a href="#comments" class="post-comments">
					<img src="/assets/images/icons/comment.svg" alt="">
					<span><%= @post.comments.count %></span>
				</a>
			</div>
			<div class="post-votes">
				<%= render "shared/post_votes",  :post => @post %>
			</div>
		</div>
	</div>

	<% if @post.asset.present? %>
		<div class="post-thumbnail" style='background-image:url("<%= @post.asset.url %>");'></div>
	<% end %>

	<div class="post-content">
		<h1 class="post-title"><%= @post.title %></h1>
		<p class="post-desc"><%= @post.content %></p>
	</div>
</section>

<div id="comments" class="post-single-comments">
	<%= render 'shared/comments_create' %>
	<%= render "shared/comments_for_post" %>
</div>
	

	
	