
<% if @top_post %>
	
	<div class="post-single top-post">
		<%= link_to post_path(:id => @top_post.id), method: :get do %>
			<div class="post-picture">
				<%= image_tag @top_post.asset.url(:medium) %>
			</div>
		<% end %>

		<div class="post-metadatas">
			<div class="post-link">
				<a href="<%= @top_post.url %>" target="_blank" class="post-link">
					<img src="/assets/images/icons/link.svg" alt="">
					<span>Discover</span>
				</a>
			</div>

			<div class="post-votes">
				<%= render "shared/post_votes",  :post => @top_post %>
			</div>
		</div>

		<div class="post-content">
			<span class="post-cat"><%= link_to @top_post.category.label, category_path(:slug => @top_post.category.slug), method: :get %></span>
			<%= link_to @top_post.title, post_path(:id => @top_post.id), method: :get, :class => "post-title"  %>
			<p class="post-desc">
				<%= truncate(strip_tags(@top_post.content), :length=>200)%>
			</p>
			<%= link_to posts_by_user_path(slug: @top_post.user.slug ), class:"post-author", method: :get do %>
				<%
					if @top_post.user %>
						<img src="<%= @top_post.user.avatar.url(:thumb) %>">
						<span class="user-name"><%= @top_post.user.name %></span>					
				<%
					else
						%><span>User doesn't exist</span><%
					end
				 %>
			<% end %>
		</div>

	</div>

<% else %>	
	No post has won yet, come back later ;)
<% end %>