<section class="user-profile-card">
	<% if current_user %>
		<% if @user.id == current_user.id %>
			<%= link_to edit_user_registration_path, method: :get, :class=>'edit-button' do %>
				<img src="/assets/images/icons/pencil.svg" alt="">
			<% end %>
		<% end %>
	<% end %>
	
	<div class="profile-card-content">
		<% if @user.avatar.blank? %>
			<span class="avatar" style="background-image: url(<%= set_random_avatar(@user.id) %>);"></span>
		<% else %>
			<span class="avatar" style="background-image: url(<%= @user.avatar %>);"></span>
		<% end %>
		<h1><%= @user.name %></h1>
		<div class="user-palmares">
			<div class="user-likes">
				<p><%= @user.vote_count %></p>
				<img src='/assets/images/icons/like_inactive.svg' alt="">
			</div>
			<div class="user-posts">
				<% if params[:slug] != current_user.slug %>
					<p><%= @user.posts.count %></p>
				<% else %>
					<p><%= @user.posts.published.count %></p>
				<% end %>
				<i class="fa fa-file-text-o"></i>
			</div>
		</div>
		<div class="paragraph"><%= @user.desc %></div>
	</div>
</section>