<h2 class="title-second">Log in</h2>

<section class="login_wrapper">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= devise_error_messages! %>
    
    <div class="field">
      <%= f.label :email, :class => "form_title" %>
      <%= f.email_field :email, autofocus: true, :class => "form_input" %>
    </div>

    <div class="field">
      <%= f.label :password, :class => "form_title" %>
      <%= f.password_field :password, autocomplete: "off", :class => "form_input" %>
    </div>

    <% if devise_mapping.rememberable? -%>
     
      <div class="remember_me">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, :class => "remember_title" %>
      </div>

    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", :class => "form_submit" %>
    </div>

    <div class="additional_links">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</section>
