<%= render "shared/user_info" %>

<div class="posts-list">
	<h2 class="title-second"><%= @user.name %>'s posts</h2>
	<div class="sort-by">
		<%= link_to "NEWEST", posts_by_user_path, :class=>"active" %>
		<span>/</span>
		<%= link_to "TOP", posts_by_user_path(:orderby => "top" ) %>
	</div>
	<section>
		<%= render "shared/posts_list" %>
		<%= will_paginate @posts %>
	</section>
</div>







