<section>
	<h1>My first post</h1>
	<%= render "shared/top_post" %>
</section>

<section>
	<h1>Tous les post de la categorie : <%= @category.label %></h1>
	<br>
	<br>

	<%= link_to "Newest", category_path %>
	<%= link_to "Top", category_path(:orderby => "top" ) %>

	<%= render "shared/posts_list" %>
	<%= will_paginate @posts %>
	
	
</section>







