<section>
	<h1>best user</h1>
	<%= render "shared/aside_best_users" %>
</section>

<h1 class="title-main">Daily discover</h1>
<section>
	<%= render "shared/top_post" %>
</section>

<div class="col-70 posts-list">
	<h1 class="title-second">Posts</h1>
	<% #params[:orderby] == "top" %>
	<div class="sort-by">
		<%= link_to "NEWEST", root_path, :class=>"active", class: order_by_class_for("") %>
		<span>/</span>
		<%= link_to "TOP", root_path(:orderby => "top" ), class: order_by_class_for("top") %>
	</div>
	<section>
		<%= render "shared/posts_list" %>
		<%= will_paginate @posts %>
	</section>
</div>