<section>
	<h1>best user</h1>
	<%= render "shared/aside_best_users" %>
</section>


<section>
	<h1>First post</h1>
	<%= render "shared/top_post" %>
</section>

<section>
		<br><br>
	<h1>All post</h1>

	<%= link_to "Newest", root_path %>
	<%= link_to "Top", root_path(:orderby => "top" ) %>

	<%= render "shared/posts_list" %>
	<%= will_paginate @posts %>

	
</section>



