<section class="posts-list search">
	<h1>Search post : "<%= params[:q] %>"</h1>

	<div class="sort-by">
		<%= link_to "NEWEST", root_path, :class=>"active" %>
		<span>/</span>
		<%= link_to "TOP", root_path(:orderby => "top" ) %>
	</div>

	<% if @posts.present? %>
		<%= render "shared/posts_list" %>
	<% else %>
	  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
	<% end %>

	<%= will_paginate @posts %>

	
</section>



