<!DOCTYPE html>
<html>
<head>
  <title>Discover</title>

   <%= javascript_include_tag "application" %>
   <%= javascript_include_tag "libs" %>
   <%= javascript_include_tag "custom" %>
  
  <link rel="stylesheet" href="/assets/dist/styles/main.css">
  <!-- <script href="/assets/dist/scripts/libs.js"></script>
  <script href="/assets/dist/scripts/custom.js"></script> -->
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<div class="header-main">
		<a href='/' class="logo">
			<span>Discover.</span>
		</a>

		<div class="search">		
			<div class="search-form">
				<%= form_tag(posts_search_path, :method => "get", id: "search-form") do %>
			    <%= text_field_tag :q, params[:q], placeholder: "Search" %>
			    <%= button_tag( :class => "search-button") do %>
			      <img src="/assets/images/icons/search.png" alt="">
			    <% end %>
				<% end %>
			</div>
		</div>

		<div class="connect">
			<% if !user_signed_in? %>
				<%= link_to "Sign in", new_user_session_path, method: :get %>
				<span>/</span>
				<%= link_to "Sign up", new_user_registration_path, method: :get %>
			<% else %>
				<%= link_to "Profils", edit_user_registration_path, method: :get %>
			  <span>/</span>
			  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
			<% end %>
		</div>
	</div>

	<div class="header-second">
		<ul class="menu-cat">
		<% @categories.each do |category| %>
		  <li><%= link_to category.label, category_path(:slug => category.slug), method: :get  %> </li>
		<% end %>
		</ul>

		<%= link_to "SUBMIT", posts_new_path(), :class=>'button button-submit' %>
	</div>

	<div class="clear"></div>
</header>

<!-- 
<div class="main-menu">
	<%= link_to "user edit", edit_user_registration_path, method: :get %>
	<%= link_to "all user", user_registration_path, method: :get %>
	<%= link_to "all post", posts_path, method: :get %>
	<%= link_to "your post ", users_posts_path, method: :get %>
	<%= link_to "new post ", posts_new_path, method: :get %>
</div>
 -->

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<p id="error"><%= flash[:error] %></p>

<main>
<%= yield %>
</main>

</body>
</html>
